/* for light theme */
:root {
  --color: rgb(32, 32, 32);
  --background-color: rgb(252, 243, 243);
  --link-color: rgb(204, 24, 24);
}

/* for dark theme */
/* :root {
  --background-color: rgb(32, 32, 32);
  --color: rgb(252, 243, 243);
  --link-color: rgb(194, 109, 11);
} */

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--background-color);
  color: var(--color);
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 600;
}
